aside {
    display: flex;
padding: 88px 120px 120px 120px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 56px;
align-self: stretch;

}

aside section {
    display: flex;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 24px;
flex-wrap: wrap;
}


.card {
    display: flex;
width: 280px;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;
border-radius: 12px;
border: 2px solid var(--font-principal5 );

}

aside span {
     color: var(--font-principal7);
    font: var( --text-substitle);

}
.card span {
    color: var(--font-principal1, #E2E4E9);
font-family: Asap;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%;


}